[webservers]
%{~ for i in webservers ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}

%{~ endfor ~}

[database]
%{~ for i in database ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}

%{~ endfor ~}

[storage]
%{~ for i in storage ~}

${i["name"]}   ansible_host=${i["network_interface"][0]["nat_ip_address"]}

%{~ endfor ~}